html,
body {
    height: 100%;
    background-image: url('/fsu/web/image/fone.jpg');
    background-attachment: fixed;
    font-family: Times New Roman, Times, serif;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}
.header{
    height: 120px;
}

.logo-header{
    float: left;
    height: 120px;
    width: 120px;
}

.logo-header img{
    height: 120px;
    width: 120px;

}

.name-site{
    padding: 3px 0px 0px 125px;
    font-size: 25px;

}

#content {

    float: left;
    //width: 84%;
    padding-top: 0px;
}

#right-side-bar {

    float: right;



}

.right-side-bar li{
    margin-top: 3px;
    list-style:none;
    height: 25px;
    border-radius: 3px;
    background-color: #000000;
}

.right-side-bar a{
    margin: 8px;

    text-decoration: none;
    color: #999991;
}
.right-side-bar a:hover{
    color: #ffffff;
}

.news {
    overflow: hidden;
    padding: 12px;
    border-radius: 10px 10px 0px 0px;
    background: rgba(255, 255, 255, 0.5);
    width: 680px;

}

.image-news img{
    float: right;
    width: 200px;
    height: 200px;
}

.text-news{
    float: left;
    width: 440px;
}

.news-date{
    overflow: hidden;
    margin-bottom: 10px;
    padding: 3px 0px 0px 10px;
    border-radius: 0px 0px 10px 10px;
    color: #ffffff;
    background-color: #0088e4;
    width: 680px;
}

.documents{
    overflow: hidden;
    padding: 12px;
    border-radius: 10px 10px 0px 0px;
    background: rgba(255, 255, 255, 0.5);
    width: 680px;
}

.text-documents{
    float: left;
    width: 440px;
}

.button-documents{
    float: right;
}

.documents-date{
    overflow: hidden;
    margin-bottom: 10px;
    padding: 3px 0px 0px 10px;
    border-radius: 0px 0px 10px 10px;
    color: #ffffff;
    background-color: #0088e4;
    width: 680px;
}

.dropup-header{
    padding: 8px;
    font-size: 12pt;
}

.image-carousel{
    width: 1280px;
}

a.disabled{
    pointer-events: none; /* делаем ссылку неактивной */
    cursor: default; /*  курсор в виде стрелки */
    color: #888;/* цвет текста ссылки серый */
}

.collective-members{
    margin-top: 10px;
    width: 500px;
    height: 220px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;

}

.name-collective-members{
    width: 498px;
    height: 28px;
    padding-top: 4px;
}

.name-collective-members h4{
    text-align: center;
}

.left-collective-members{
    float: left;
    width: 240px;
    height: 155px;
    margin-top: 10px;
    padding-left: 4px;
    padding-top: 4px;
}

.right-collective-members{
    float:right;
    width: 240px;
    height: 155px;
    margin-top: 10px;
    padding-left: 4px;
    padding-top: 4px;
}

.contacts{
    width: 220px;
    height: 155px;
    padding: 4px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
